// Custom styles.
.tag-cloud-tags a {
  color: #d58c0e !important;
}

p,
span,
h1,
h2,
h3,
h4 {
  transform: rotate(0.04deg);
  // font-weight: 600;
}

::-webkit-scrollbar {
  background-color: rgb(255, 255, 255) !important;
  width: 8px !important;
  height: 8px !important;
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  border-image: initial !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(191, 191, 191) !important;
  border-width: 1px !important;
  border-style: solid !important;
  border-color: rgb(186, 186, 186) !important;
  border-image: initial !important;
}

.post-tier-b-img {
  width: 28px;
  display: inline;
  margin-right: 5px;
  vertical-align: middle;
}

.post-tier-p-img-Lv1 {
  display: inline-block;
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0.15625rem 0.5rem;
  margin: 0 0.25rem 0 0.15625rem;
  transform: translateY(-18%);
  font-size: 0.625rem;
  color: white;
  background-color: #4caf50;
  font-size: 15px;
}
.post-tier-p-img-Lv2 {
  display: inline-block;
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0.15625rem 0.5rem;
  margin: 0 0.25rem 0 0.15625rem;
  transform: translateY(-18%);
  font-size: 0.625rem;
  color: white;
  background-color: #ffc107;
  font-size: 15px;
}
.post-tier-p-img-Lv3 {
  display: inline-block;
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0.15625rem 0.5rem;
  margin: 0 0.25rem 0 0.15625rem;
  transform: translateY(-18%);
  font-size: 0.625rem;
  color: white;
  background-color: #ff9800;
  font-size: 15px;
}
.post-tier-p-img-Lv4 {
  display: inline-block;
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0.15625rem 0.5rem;
  margin: 0 0.25rem 0 0.15625rem;
  transform: translateY(-18%);
  font-size: 0.625rem;
  color: white;
  background-color: #ff5722;
  font-size: 15px;
}
.post-tier-p-img-Lv5 {
  display: inline-block;
  font-weight: 700;
  border-radius: 0.25rem;
  padding: 0.15625rem 0.5rem;
  margin: 0 0.25rem 0 0.15625rem;
  transform: translateY(-18%);
  font-size: 0.625rem;
  color: white;
  background-color: #f44336;
  font-size: 15px;
}

.framework-icon {
  display: inline-block;
  vertical-align: bottom;
}

.post-title-link p a {
  border-bottom: none;
}

.post-title a {
  border-bottom: none;
}

.code-variable {
  padding: 3px 4px;
  color: #232629;
  background-color: #e1e6e9;
  border-radius: 5px;
}

.kd + .nx {
  color: #82aaff;
}

span.p {
  color: #89def3;
}

code span {
  font-weight: normal;
}

@media (max-width: 767px) {
  .post-body {
    td.code {
      background-color: #282c34;
    }
    // test
    .highlight .code pre {
      padding: 10px;
    }
    td.gutter pre {
      height: 100%;
    }
  }
}

// iframe {
//   border-right: solid 2px #000000;
//   box-shadow: 0 2px 5px #000020;
// }

.posts-expand .post-body {

  h1 {
    font-size: 46px;
    font-weight: 700;
    margin: 0 0 25px 0;
  }
  h2 {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
  }
  h3 {
    font-size: 22px;
    text-align: left;
    font-weight: 700;
    margin: 0 0 25px 0;
    padding-top: 0;
  }
  h4 {
    font-size: 18px;
    text-align: left;
    font-weight: 700;
    margin: 0 0 25px 0;
    padding-top: 0;
  }
  ol {
    margin-bottom: 25px;
  }
  ul {
    margin-bottom: 25px;
  }

  hr{
    margin: 0 0 25px 0;
  };

}
